*.bak
*.DBK
*.DSNlck
*.DRC
*.run
*.dml
*.log
*.txt
*.lst
*.tag
*.jrl
*.rpt
*.dat
*.xml
*.copy
*.lck
*.drl
*.rou
*.art
*.*,*
*.*.*
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store


!nc_tools.txt
!ncroutebits.txt
!art_param.txt
!nc_param.txt
!place_txt.txt
!*.pdf
